<div class="container-fluid">
    <div class="row m-5 p-2">
        <div class="col-md-2">
            <button type="button" (click)="return('home')">return </button>
        </div>
    </div>
    <div class="row m-5 p-2" *ngIf="showSpiner">
        <div class="col-md-12 text-center">
            <span class="loader"></span>
        </div>
    </div>
    <div class="row m-5 p-2" *ngIf="isError">
        <div class="col-md-12 text-center">
            <span>Se ha producido un error</span>
        </div>
    </div>
    <div class="row border border-primary m-5 p-2" *ngIf="showData">
        <div class="col-md-12">
            <ul>
                <li><b>Título:</b> {{ dataFilmResponse.title }} </li>
                <li><b>Opening:</b> {{ dataFilmResponse.opening_crawl }} </li>
                <li><b>Episodio:</b> {{ dataFilmResponse.episode_id }} </li>
                <li><b>Director:</b> {{ dataFilmResponse.director }} </li>
                <li><b>Productor:</b> {{ dataFilmResponse.producer }} </li>
                <li><b>Estreno:</b> {{ dataFilmResponse.release_date }} </li>
            </ul>
        </div>
    </div>
</div>