<div class="col-md-12">
    <div *ngFor="let item of dataFilms">
        <ul>
            <li><b>Titulo:</b> {{ item.title }} </li>
            <li><b>Opening:</b> {{ item.opening_crawl }} </li>
            <li><b>Director:</b> {{ item.director }} </li>
            <li><b>Productor:</b> {{ item.producer }} </li>
            <li><b>Estreno:</b> {{ item.release_date | date:"dd-MM-yyyy" }} </li>
        </ul>
        <div class="text-center">            
            <button type="button" (click)="navigateFilm( item.url)">Ver más</button>           
        </div>
        <hr>
    </div>
</div>
